@keyframes polaroid {
  from {
    opacity: 0;
    transform: translateX(100vw) rotate(180deg);
  }
  to {
    opacity: 1;
    transform: translateX(0%) rotate(1deg);
  }
}

.polaroid {
  transform: rotate(1deg);
}

@media (prefers-reduced-motion: no-preference) {
  .polaroid[data-animated="false"] {
    animation: polaroid 0.8s cubic-bezier(0.08, 0.82, 0.17, 1);
  }
}
