---
---

<a class="z-50 sm:ml-4" href="/">
  <div class="flex cursor-pointer items-center gap-2">
    <div class="relative sm:inline-flex">
      <span
        class="font-squartiqa text-2xl animate-background-pan bg-[length:200%] bg-clip-text text-transparent bg-gradient-to-r from-red-500 via-yellow-500 to-red-500 whitespace-nowrap"
      >
        sens</span
      >
    </div>
  </div>
</a>
