---
import MobileItem from "./MobileItem.astro";
---

<nav
  id="mobileNav"
  class="navbar absolute top-0 left-0 z-10 h-screen w-screen bg-neutral-100 font-normal dark:bg-neutral-1000 sm:hidden opacity-0 -translate-x-full"
>
  <div class="nav-container mx-8 mt-28 flex flex-col" id="primary-navigation">
    <MobileItem href="/">Home</MobileItem>
    <MobileItem href="/#skills">Skills</MobileItem>
    <!-- <MobileItem href="/#education">Education</MobileItem> -->
    <!-- <MobileItem href="/#projects">Projects</MobileItem> -->
    <MobileItem href="/#certificates">Certificates</MobileItem>
    <MobileItem href="/#contact">Contact</MobileItem>
    <MobileItem href="/about">About</MobileItem>
  </div>
</nav>
