---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}
const { href, ...props } = Astro.props;
const { pathname } = Astro.url;
let hrefString = typeof href === "string" ? href : href?.toString();
const isHome =
  hrefString === pathname || hrefString === pathname.replace(/\/$/, "");
let hrefClass = hrefString?.replace(/\/#/g, "");
---

<a
  href={href}
  rel="prefetch"
  class={`${hrefClass} flex w-auto cursor-pointer border-b border-neutral-300 py-4 text-base font-semibold capitalize text-neutral-900 dark:border-neutral-700 dark:text-neutral-100 ${
    isHome
      ? "font-bold text-neutral-900 dark:text-primary-600"
      : "text-neutral-700 dark:text-neutral-400"
  }`}
  {...props}
>
  <slot />
</a>
