---
import NavItem from "./NavItem.astro";
---

<nav
  class="navbar z-10 hidden sm:flex md:absolute md:inset-0 md:justify-center"
>
  <div class="nav-container flex items-center md:gap-2">
    <NavItem href="/">Home</NavItem>
    <NavItem href="/#skills">Skills</NavItem>
    <!-- <NavItem href="/#projects">Projects</NavItem> -->
    <NavItem href="/#education">Education</NavItem>
    <NavItem href="/#certificates">Certificates</NavItem>
    <NavItem href="/#contact">Contact</NavItem>
  </div>
</nav>
