---
---

<div
  id="toast-container"
  class="toast-container fixed z-50 flex flex-col-reverse items-center pointer-events-none gap-2 bottom-6 inset-0"
>
</div>

<template id="toast-template">
  <div
    class="toast flex items-center text-black leading-5 opacity-0 translate-y-24 will-change-transform shadow-md max-w-sm pointer-events-auto px-2.5 py-2 rounded-lg bg-white"
  >
    <div
      class="toast-icon flex items-center justify-center w-6 h-6 rounded-full"
    >
    </div>
    <div
      class="toast-message flex justify-center text-inherit flex-auto whitespace-pre-line mx-2.5 my-1"
    >
    </div>
  </div>
</template>
