---
import { Image } from "@astrojs/image/components";
import aboutImg from "../images/sendhy2.jpg";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About Me" description="">
  <main class="pageTop">
    <div class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:gap-y-12">
      <div class="mt-6 mx-auto lg:mx-0 lg:pl-20">
        <div class="max-w-xs px-2.5 lg:max-w-none">
          <Image
            src={aboutImg}
            alt="about Sendhy"
            width={800}
            height={800}
            class="w-auto h-4/5 aspect-square rotate-3 rounded-2xl bg-neutral-100 object-cover dark:bg-neutral-800"
          />
        </div>
      </div>
      <div class="lg:order-first lg:row-span-2">
        <h1
          class="text-4xl font-bold tracking-tight text-neutral-800 dark:text-neutral-100 sm:text-5xl"
        >
          About Me
        </h1>
        <p
          class="mt-6 space-y-7 text-base text-neutral-700 dark:text-neutral-200"
        >
        Hey, hi, hello! <br>
        I'm a creative individual who loves to code, particularly in the fields of Cloud Computing and Mobile apps using Flutter and Kotlin. I love to share fresh ideas about breakthroughs and am constantly curious to learn the latest discoveries in the tech field. <br><br>
        In most of my time, I often explore some useful resources, and taking any courses to rank up my skills. Also working on paid projects if there’s an opportunity.
        </p>
      </div>
    </div>
    <h2
      class="mt-6 text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-100 sm:text-3xl"
    >
      Personality and Work Style
    </h2>
    <p class="mt-6 space-y-7 text-base text-neutral-700 dark:text-neutral-200">
      As an <a
        href="https://www.16personalities.com/intj-personality"
        target="_blank"
        rel="noopener noreferrer"
        class="text-yellow-800 dark:text-yellow-500">INTJ (Architect)</a
      > personality type, I bring a strategic mindset and strong analytical skills
      to my work. I thrive in situations that require problem-solving, long-term
      planning, and logical thinking. My independent nature and drive for competence
      enable me to tackle challenges head-on and develop innovative solutions. This
      unique combination of traits helps me excel in various projects, sparking creativity
      and contributing effectively to team dynamics, making things happen together.
    </p>
    <h2
      class="mt-6 text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-100 sm:text-3xl"
    >
      Interests and Hobbies
    </h2>
    <p class="mt-6 space-y-7 text-base text-neutral-700 dark:text-neutral-200">
      Aside from programming stuff, I like to refresh my life by playing acoustic guitar and travelling.
      Moreover, I actively contribute as a tech community organizer at
      <a
        href="https://gdsc.community.dev/universitas-pembangunan-nasional-veteran-jawa-timur/"
        target="_blank"
        rel="noopener noreferrer"
        class="text-yellow-800 dark:text-yellow-500">GDSC UPNVJT
      </a>
      and 
      <a
        href="https://surabayadev.org"
        target="_blank"
        rel="noopener noreferrer"
        class="text-yellow-800 dark:text-yellow-500">SurabayaDev,
      </a>
      fostering a collaborative environment within the tech community.
    </p>
    <h2
      class="mt-6 text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-100 sm:text-3xl"
    >
      Goals and Aspirations
    </h2>
    <p class="mt-6 space-y-7 text-base text-neutral-700 dark:text-neutral-200">
      My short-term goals involve further improving my knowledge and expanding
      my skills in mobile development. In the long run, I aspire to work on
      impactful products that make a difference in society.
    </p>
    <h2
      class="mt-6 text-2xl font-bold tracking-tight text-neutral-800 dark:text-neutral-100 sm:text-3xl"
    >
      Connect and Collaborate
    </h2>
    <p class="mt-6 space-y-7 text-base text-neutral-700 dark:text-neutral-200">
      Feel free to explore my website and learn more about my journey, projects,
      and the unique combination of skills I bring to the table as a mobile app
      developer. <br><a
        href="/#contact"
        class="text-yellow-800 dark:text-yellow-500">Let’s connect</a
      > and create something project together!
    </p>
  </main>
</Layout>
