---
import stack from "@/data/stackData";
import Cards from "@components/Cards.astro";
import Layout from "../layouts/Layout.astro";

const itemsNumber =
  "grid-cols-3 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6";
---

<Layout
  title="What I use"
  description="If you are wondering what tech I use, here's the list of what I'm currently working with."
>
  <main class="pageTop">
    <div class="mb-10 flex w-full select-none flex-col gap-3 py-5">
      <h1
        class="mb-6 text-4xl font-bold text-neutral-900 dark:text-neutral-200 md:text-5xl lg:text-6xl"
      >
        Stack
      </h1>
      <p class="text-lg text-neutral-700 dark:text-neutral-300">
        If you are wondering what tech I use, here&apos;s the list of what
        I&apos;m currently working with.
      </p>
      <p class="text-lg text-neutral-700 dark:text-neutral-300">
        Based on the principle of separation of concerns, I prefer to use
        different applications for different purposes.
      </p>
    </div>

    <div class="flex flex-col gap-14">
      <div class="flex flex-col gap-14">
        {
          stack.map((item) => {
            return <Cards props={item} display={itemsNumber} />;
          })
        }
      </div>
    </div>

    <p class="mt-20 -mb-5">
      Last Update on <span class="font-bold">May 14, 2023</span>
    </p>
  </main>
</Layout>
