---
import { Image } from "@astrojs/image/components";
import hero from "../../images/memoji-me.png";
---

<section
  class="relative min-h-screen w-full flex flex-col md:flex-row justify-center pt-16 items-center z-10 bg-neutral-50 dark:bg-neutral-1000"
  id="/"
>
  <div
    class="h-full w-full max-w-6xl flex justify-center items-center md:items-start gap-8 flex-col md:flex-row"
  >
    <div
      class="md:basis-1/2 sm:pl-12 px-4 text-center sm:text-left order-2 md:order-1"
    >
      <h1
        class="text-neutral-900 dark:text-neutral-100 text-4xl font-bold tracking-tight sm:text-5xl"
      >
        Hi folks 
        <span
          role="img"
          aria-label="waving hand"
          class="animate-wave inline-block origin-[70%_70%]">👋
        </span>
        
        <p>I'm <span
          data-value="Sendhyrama"
          class="glitch font-squartiqa font-normal p-0 m-0 h-16 animate-background-pan bg-[length:200%] bg-clip-text text-transparent bg-gradient-to-r from-red-500 via-yellow-500 to-red-500 whitespace-nowrap"
          >Sendhyrama</span
        >!
      </h1>
      <p class="text-neutral-900 dark:text-neutral-100 mt-6 text-2xl">
        Just a normal person who loves 
        <span
          data-value="Web Development"
          class="glitch animate-background-pan bg-[length:200%] bg-clip-text text-transparent bg-gradient-to-r from-red-500 via-yellow-500 to-red-500 whitespace-nowrap"
          >Web Development</span> & 
        <span
          data-value="Cloud Tech"
          class="glitch animate-background-pan bg-[length:200%] bg-clip-text text-transparent bg-gradient-to-r from-red-500 via-yellow-500 to-red-500 whitespace-nowrap"
          >Cloud Tech</span>
      </p>
      <p class="text-neutral-900 dark:text-neutral-100 mt-6 text-xl font-weight: bold">
        はじめまして！
      </p>

      <div class="flex gap-4 py-16 justify-center sm:justify-start">
        <button
          class="basis-1/3 rounded-lg border-2 bg-neutral-50 dark:bg-neutral-900 border-primary-600 px-3 py-2 text-center text-sm font-bold outline-none transition duration-300 active:scale-95"
        >
          <a
            href="/resume-sendhy.pdf"
            target="_blank"
            rel="noopener noreferrer"
            class="relative flex w-full items-center justify-center"
          >
            <span
              class="text-md font-bold text-neutral-1000 dark:text-neutral-100 md:text-lg"
              >Resume</span
            >
          </a>
        </button>
        <button
          class="basis-1/3 rounded-lg bg-primary-600 px-3 py-2 text-center text-sm font-bold text-neutral-100 outline-none transition duration-300 active:scale-95"
        >
          <a
            href="#contact"
            class="relative flex w-full items-center justify-center"
          >
            <span class="text-md font-bold text-neutral-1000 md:text-lg"
              >Contact</span
            >
          </a>
        </button>
      </div>
    </div>
    <div
      class="md:basis-1/3 flex justify-center items-end overflow-hidden order-1 md:order-2"
    >
      <Image
        src={hero}
        alt="hero"
        class="h-64 w-64"
        width={512}
        height={512}
        format="webp"
        loading="eager"
        quality={100}
      />
    </div>
  </div>
</section>
