.beams {
  background-image: url(/beams.png);
  background-position: left 50% top -520px;
  background-repeat: no-repeat;
  background-size: auto auto;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .beams {
    animation: beams-hue-rotate 30s linear infinite;
  }
}

@keyframes beams-hue-rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  25% {
    filter: hue-rotate(60deg);
  }
  50% {
    filter: hue-rotate(0deg);
  }
  75% {
    filter: hue-rotate(-60deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
