---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  href: string;
  ariaLabel: string;
}
const { href, ariaLabel, ...props } = Astro.props;
const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<div
  class="self-center text-neutral-600 hover:text-primary-600 dark:text-neutral-400 dark:hover:text-primary-600"
>
  <a
    href={href}
    target="_blank"
    rel="noopener noreferrer"
    class="mb-4"
    aria-label={ariaLabel}
  >
    <slot />
  </a>
</div>
